#photo{
    font-size: 20px;
}
#wrap{
color: orangered;
font-size: 35px;
margin-left: 700px;

}
#npara{
    font-size: 30px;
    margin-left: 500px;
    margin-top: 30px;
    color: blue;
}
#website_header{
    font-size: 25px;
    margin-top: 15px;
    margin-left: 510px;
}
#simo{
    font-size: 30px;
    margin-left: 500px;
    margin-top: 10px;
    color: blue;
}
#nachit{
    font-size: 25px;
    margin-top: 15px;
    margin-left: 510px;
}